/Intervalos/nbproject/private/
/Intervalos/build/
/TipoCombustivel/nbproject/private/
/TipoCombustivel/build/
/for/nbproject/private/
/for/build/
/Elevador/nbproject/private/
/Elevador/build/
/Prova/nbproject/private/
/Prova/build/
/Elevadors/nbproject/private/
